<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1: activa la redirección del subdominio al punto de entrada." enabled="true" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="public/index.php" />
                </rule>
                <rule name="Regla 2: redirige los recursos estáticos a la carpeta pública." enabled="true" stopProcessing="true">
                    <match url="^((build/).*)$" />
                    <action type="Rewrite" url="public/{R:1}" />
                    <conditions logicalGrouping="MatchAny">
                    </conditions>
                </rule>
                <rule name="Regla 1 importada" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public/index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
